@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: white;
}
body {
  background-color: #202124;
}
a {
  text-decoration: none;
}

header {
  background-color: #202124;
  height: 50px;
  border-bottom: solid #6f727c 1px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: space-between;
}
.HeaderDiv {
  display: flex;
  width: 150px;
  justify-content: space-between;
}

@media only screen and (max-width: 1200px) {
  header {
    padding-left: 10px;
    padding-right: 10px;
  }
}
