* {
  margin: 0;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./images/forest.jpg");
  background-size: cover;
}
.signup {
  background-color: rgb(61, 61, 61);
  padding: 30px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.9);
  transition: cubic-bezier(0.5, -0.37, 0.42, 1.32) 0.2s;
}
h2 {
  margin-bottom: 20px;
}
input {
  margin-bottom: 20px;
  margin-top: 20px;
  height: 30px;
  width: 300px;
  background-color: transparent;
  border: 0;
  border-bottom: 2px white solid;
  font-size: large;
  transition: cubic-bezier(0.5, -0.37, 0.42, 1.32) 0.2s;
}
input:focus {
  outline: none;
  transform: scale(1.1);
}
a {
  margin-top: 20px;
}
button {
  background-color: #1d1d1d;
  border-radius: 10px;
  width: 250px;
  height: 50px;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  transition: cubic-bezier(0.5, -0.37, 0.42, 1.32) 0.2s;
}
button:hover {
  transform: scale(1.2);
  background-color: #292929;
  color: rgb(131, 255, 187);
}

@media screen and (max-width: 400px) {
  .signup {
    width: 200px;
  }
  input {
    width: 200px;
  }
  button {
    width: 150px;
  }
}
